Source: elpy
Section: devel
Priority: optional
Maintainer: Debian Emacsen team <debian-emacsen@lists.debian.org>
Uploaders: Nicholas D Steeves <sten@debian.org>
Build-Depends: debhelper-compat (= 13)
             , dh-elpa
             , dh-python
             , elpa-company <!nocheck>
             , elpa-find-file-in-project <!nocheck>
             , elpa-highlight-indentation <!nocheck>
             , elpa-projectile <!nocheck>
             , elpa-pyvenv <!nocheck>
             , elpa-yasnippet <!nocheck>
             , elpa-s <!nocheck>
             , elpa-dash <!nocheck>
             , elpa-f <!nocheck>
             , python3-all
             , python3-setuptools (>= 44.1.0)
             , flake8 (>= 3.7.9)
             , python3-jedi (>= 0.17.2)
             , python3-autopep8 (>= 1.5.4) <!nocheck>
             , yapf3 (>= 0.30)
             , python3-mock (>= 3.0.5) <!nocheck>
             , python3-pytest  <!nocheck>
             , python3-pip <!nocheck>
             , black (>= 19.10b0) <!nocheck>
             , python3-sphinx <!nodoc>
	     , python3-sphinx-rtd-theme <!nodoc>
             , python3-pytest <!nocheck>
             , texinfo <!nodoc>
Rules-Requires-Root: no
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/emacsen-team/elpy
Vcs-Git: https://salsa.debian.org/emacsen-team/elpy.git
Homepage: https://elpy.readthedocs.io/en/latest/index.html
Testsuite: autopkgtest-pkg-elpa

Package: elpa-elpy
Architecture: all
Depends: ${elpa:Depends}
       , ${python3:Depends}
       , ${sphinxdoc:Depends}
       , ${misc:Depends}
       , flake8
       , elpa-pyvenv
Recommends: emacs (>= 46.0)
          , python3-jedi
          , elpa-find-file-in-project | elpa-projectile
Suggests: python3-autopep8
        , yapf3
        , black
        , python3-pip
        , jupyter-console
        , ipython3
        , elpa-flycheck
        , elpa-pip-requirements
        , pyprof2calltree
Enhances: emacs
Description: Emacs Python Development Environment
 The Emacs Lisp Python Environment in Emacs
 .
 Elpy is an Emacs package that brings powerful Python editing to
 Emacs.  It combines a number of existing Emacs packages, and is
 written in Emacs Lisp as well as Python.
 .
 Features:
   * Navigation by code indentation and code definition.
   * Move the current region as a code block.
   * Treat a working tree as a coherent project; search for files,
     code, or text within the project.
   * Interact with Python interpreters and test runners.
   * Browse the Python built-in documentation.
   * Refactor code and symbols.
