#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME=elpy

%:
	dh $@ --with elpa,python3 --buildsystem=pybuild

override_dh_auto_clean:
	true

override_dh_auto_test:
	true

override_dh_elpa_test:
	true
