#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = elpy

%:
	dh $@ --with elpa,python3,sphinxdoc --buildsystem=pybuild

# docs are not generated without this override
override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. sphinx-build -N -bman docs/ build/man # Manpage generator
